# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.pyd

# Django DB and media files
db.sqlite3
/media/
staticfiles/
*.sqlite3
*.log

# Environment files
.env

# PyCharm specific
.idea/

# OS specific junk
.DS_Store
Thumbs.db

# Python virtual environments
venv/
ENV/
env/
