{% extends 'base.html' %}

{% block title %}Register - Stock Marketplace{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Register</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ info_form.as_p }}
        <div class="form-group">
            <button type="submit">Register</button>
        </div>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</div>
{% endblock %}
