.card {
  background-color: white;
  color: black;
  border-radius: 16px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  width: 250px;
  font-family: 'Segoe UI', sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.35);
  border-color : blue
}

.card h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.card-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
}

.card-buttons {
  display: flex;
  gap: 10px;
}

.card-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.card-buttons .buy {
  background-color: white;
  color: black;
  border :  1px solid  green;
}

.card-buttons .buy:hover {
  background-color: #00e676;
  color: white;
}

.card-buttons .sell {
  background-color: white;
  color: black;
  border : 1px solid red;
}

.card-buttons .sell:hover {
  background-color: #f44336;
  color: white;
}


.wrapper {
  display :  flex;
  justify-content : center ;
  align-items :  center ;
  padding-left :  70px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}
